.andamentoMensile {
    float: left;
    .h1 {
        color: #4A4A4A;
        font-family: 'Avenir Next';
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
    }
    .statusMessage {
        width: 100%;
        margin-top: 15px;
        text-align: center;
        font-family: "Avenir Next";
        font-size: 14px;
    }
}