.Month_box__6pdkm {
  border-width: 0 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom, #ffffff 0%, #DEDEDE 25%, #DEDEDE 25%, #DEDEDE 100%) 1 100%;
  min-width: 74px;
  float: left;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px; }
  .Month_box__6pdkm:after {
    content: " ";
    position: absolute;
    bottom: -5px;
    left: -2px;
    width: calc(100% + 4px);
    height: 3px;
    background-color: transparent; }
  .Month_box__6pdkm.Month_selecting__2INPc:after, .Month_box__6pdkm:active:after {
    background-color: #7ED321; }
  .Month_box__6pdkm.Month_selecting__2INPc:first-child:after, .Month_box__6pdkm:active:first-child:after {
    border-top-left-radius: 1.5px;
    border-bottom-left-radius: 1.5px; }
  .Month_box__6pdkm.Month_selecting__2INPc:last-child:after, .Month_box__6pdkm:active:last-child:after {
    border-top-right-radius: 1.5px;
    border-bottom-right-radius: 1.5px; }
  .Month_box__6pdkm.Month_selected__1EHrR:after {
    background-color: #1cb345; }
  .Month_box__6pdkm.Month_selected__1EHrR:first-child:after {
    border-top-left-radius: 1.5px;
    border-bottom-left-radius: 1.5px; }
  .Month_box__6pdkm.Month_selected__1EHrR:last-child:after {
    border-top-right-radius: 1.5px;
    border-bottom-right-radius: 1.5px; }

.Month_upSection__3rVvw {
  border-bottom: 1px solid #DEDEDE;
  color: #4A4A4A;
  width: 100%;
  text-align: left; }
  .Month_upSection__3rVvw .Month_monthName__3ITeA {
    font-family: "Avenir Next";
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 14px;
    padding: 15px 4px 4px 4px; }

.Month_bottomSection__2LMbG {
  border-bottom: 1px solid #DEDEDE;
  position: relative;
  z-index: 0; }
  .Month_bottomSection__2LMbG .Month_textsBlock__3sQgM {
    padding: 32px 4px 4px 4px;
    position: relative; }
    .Month_bottomSection__2LMbG .Month_textsBlock__3sQgM .Month_textDocuments__1CHmK {
      color: #9B9B9B;
      font-family: "Avenir Next";
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      margin-bottom: 3px;
      z-index: 1; }
    .Month_bottomSection__2LMbG .Month_textsBlock__3sQgM .Month_textImporto__2EEhA {
      color: #4A90E2;
      font-family: "Avenir Next";
      font-size: 12px;
      font-weight: 500;
      line-height: 14px;
      z-index: 1; }
  .Month_bottomSection__2LMbG .Month_capacityLevel__11Ozp {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(144, 237, 54, 0.18) 0%, rgba(48, 187, 55, 0.18) 100%);
    transition: 1200ms height cubic-bezier(0.78, 0, 0.21, 1); }

.MonthsList_list__8Hdn2 {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
  -webkit-flex-wrap: wrap;
          flex-wrap: wrap; }

.AndamentoMensile_andamentoMensile__RKWEQ {
  float: left; }
  .AndamentoMensile_andamentoMensile__RKWEQ .AndamentoMensile_h1__30qJ_ {
    color: #4A4A4A;
    font-family: 'Avenir Next';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: left; }
  .AndamentoMensile_andamentoMensile__RKWEQ .AndamentoMensile_statusMessage__3872y {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    font-family: "Avenir Next";
    font-size: 14px; }


/*# sourceMappingURL=main.css.map*/